# Created by https://www.gitignore.io/api/git,visualstudiocode

### Git ###
*.orig

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Files generated ###
build/*


# End of https://www.gitignore.io/api/c,git,visualstudiocode
